body {
    background-color: lightblue;
    font-family: sans-serif;
}

.Login{
    width: 300px;
    height: 360px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto; 
}

.input {
    margin-bottom: 10px;
}

.input p {
    margin: 0;
    margin-bottom: 5px;
}

.Login h2{
    display: inline-block;
    color: grey;
}

.Login input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
}

.Login button{
    width: 220px;
    height: 40px;
    border : none;
    border-radius: 5px;
    background-color: rgb(0, 255, 191);
    margin: 10px 0;
    cursor: pointer;
    
}

.Login a {
    text-decoration: none;
    color:rgb(0, 255, 191)
}

p{
    /* display: inline-block; */
    float: left;
    padding-left: 40px;
    margin: 10px;
}

.notification {
    display: none;
    margin: 5px 0;
    font-size: 14px;
}

.notification.success {
    color: aquamarine;
}
.notification.error {
    color: red;
}

.notification.show {
    display: block;
}